/* * {
  border: 1px solid red;
} */
/* Reset */
body {
  margin: 0px;
}

/* Navbar style */

.navbar {
  background-color: white;
  height: 7vh;
}

/* Header setting with flexbox */

.header {
  background-color: red;
  color: white;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-box {
  font-size: 3rem;
}

/* First info container managed with flex box */

.info-container-1 {
  background-color: lightgray;
  color: rgb(85, 84, 84);
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* Items/boxes for first info container */

.info-container-1-box1 {
  font-size: 3rem;
  text-align: center;
}

.info-container-1-box2 {
  font-size: 1.5rem;
  text-align: center;
}

.info-container-1-box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 55vw;
  background-color: white;
}

.info-container-1-box3 b {
  color: red;
}

.info-container-1-box3 p {
  font-size: 2rem;
  height: 70vh;
}
/* Second Container for info managed with flexbox */

.info-container-2 {
  background-color: rgb(230, 228, 228);
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  clip-path: polygon(100% 73%, 47% 88%, 0 72%, 0 0, 100% 0);
  /* position: relative; */
}

.info-container-2-box1 {
  height: 30vh;
  width: 60vw;
  background-color: blue;
  margin-bottom: 1.5rem;
}

.info-container-2-box1 p {
  text-align: center;
  font-size: 2rem;
  align-items: center;
}

.info-container-2-box2 {
  font-size: 1.5rem;
}
.info-container-2 button {
  border-radius: 30px;
  border-color: red;
  font-size: 1.5rem;
}

.info-container-2 b {
  font-size: 1.5rem;
  color: red;
}

/* Third Container for info managed with flexbox */

.info-container-3 {
  background-color: beige;
  margin-top: -30vh;
  height: 60vh;
  padding-top: 20vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
}

.info-container-3-yellow-circle {
  background-color: yellow;
  height: 60px;
  width: 10%;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  position: absolute;
  top: -25px;
  left: -30px;
  font-size: 2.5rem;
}

.info-container-3-box1 {
  background-color: red;
  color: white;
  height: 15vh;
  width: 60vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.25rem;
  position: relative;
}
.info-container-3-box2 {
  text-align: center;
  font-size: 1.5rem;
}
.info-container-3 button {
  text-align: center;
  font-size: 1rem;
  color: red;
  background-color: beige;
  border-radius: 10px;
  border-color: red;
  padding: 0.75rem;
}
.download-button__text--black {
  color: black;
}
.info-container-3 p {
  font-size: 1rem;
  color: black;
}
/* Fourth Container for info managed with flexbox */

.info-container-4 {
  background-color: white;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.info-container-4-box1 {
  font-size: 3rem;
  text-align: center;
  height: 30vh;
  width: 50vw;
}

/* Quiz container */

.quiz-container {
  background-color: rgb(196, 185, 185);
  height: 300vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bushfire-plan {
  background-color: red;
  color: white;
  height: 10vh;
  width: 50vw;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.8rem;
}

.bushfire-plan-yellow-circle {
  background-color: yellow;
  height: 35px;
  width: 12%;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  position: absolute;
  top: -18px;
  left: -20px;
  font-size: 2.5rem;
}

.quiz-card {
  height: 30vh;
  width: 60vw;
  background-color: grey;
  border-radius: 15px;
  position: relative;
}
.quiz-yellow-circle {
  background-color: red;
  height: 60px;
  width: 12%;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: absolute;
  top: 10px;
  left: -35px;
  font-size: 2.5rem;
}

/* Download container */

.download-container {
  background-color: white;
  height: 70vh;
}

/* About us Container */

.aboutus-container {
  background-color: red;
  height: 50vh;
}

/* Footer */

footer {
  background-color: black;
  height: 30vh;
}
